<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="WorkerBehavior">
                    <serviceMetadata />
                    <serviceDebug />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="WorkerBehavior" name="GASvcLib.Servant.Worker">
                <endpoint address="Worker" binding="wsDualHttpBinding" bindingConfiguration=""
                    name="Worker" contract="GASvcLib.Servant.IWorker" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:7061" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>