<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Author" value="Ausif Mahmood" />
    <add key="NumCities" value="10" />
    <add key="MutationRate" value="0.04" />
    <add key="CrossoverRate" value="0.5" />
    <add key="PopSize" value="60" />
    <add key="NumIterations" value="50000" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="GASV" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:7060/GA" binding="wsDualHttpBinding"
        bindingConfiguration="GASV" contract="GA.IGASvc" name="GASV">
        <identity>
          <userPrincipalName value="EE-HPZBOOK\edwar" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>