<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="Distributor" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51563/Distributor.svc/Distributor"
                binding="wsDualHttpBinding" bindingConfiguration="Distributor"
                contract="Host.IDistributor" name="Distributor">
                <identity>
                    <userPrincipalName value="DESKTOP-MBVR3E3\edwar" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>