<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
   </startup>
   <system.serviceModel>
      <behaviors>
         <serviceBehaviors>
            <behavior name="DistributorBehavior">
               <serviceMetadata />
               <serviceDebug />
            </behavior>
         </serviceBehaviors>
      </behaviors>
      <services>
         <service behaviorConfiguration="DistributorBehavior" name="GASvcLib.Host.Distributor">
            <endpoint address="Distributor" binding="wsDualHttpBinding" bindingConfiguration=""
               name="Distributor" contract="GASvcLib.Host.IDistributor" />
            <host>
               <baseAddresses>
                  <add baseAddress="http://localhost:7060" />
               </baseAddresses>
            </host>
         </service>
      </services>
   </system.serviceModel>
</configuration>