<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
   </startup>
   <system.serviceModel>
      <behaviors>
         <serviceBehaviors>
            <behavior name="GABehavior">
               <serviceMetadata httpGetEnabled="true" />
               <serviceDebug includeExceptionDetailInFaults="true" />
            </behavior>
         </serviceBehaviors>
      </behaviors>
      <services>
         <service behaviorConfiguration="GABehavior" name="GASvcLib.TS">
            <endpoint address="PS" binding="wsDualHttpBinding" bindingConfiguration="" name="PSEP" contract="PubSubLib.ILongCompute" />
            <endpoint address="SP" binding="wsDualHttpBinding" bindingConfiguration="" name="SPEP" contract="PubSubLib.IStocks" />
            <endpoint address="PC" binding="basicHttpBinding" bindingConfiguration="" name="PCEP" contract="PubSubLib.IPriceChange" />
            <host>
               <baseAddresses>
                  <add baseAddress="http://localhost:7060/" />
               </baseAddresses>
            </host>
         </service>
      </services>
   </system.serviceModel>
</configuration>