<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="MMBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="MMBehavior" name="WCFLibrary.MyMath">
                <endpoint address="MM" binding="basicHttpBinding" bindingConfiguration=""
                    name="MMEP" contract="WCFLibrary.IMyMath" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8700/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>