<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="PSEP" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7060/PS" binding="wsDualHttpBinding"
                bindingConfiguration="PSEP" contract="PS.ILongCompute" name="PSEP">
                <identity>
                    <userPrincipalName value="DESKTOP-H14MF00\edwar" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>