<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PCEP" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="PSEP" />
                <binding name="SPEP" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7060/PS" binding="wsDualHttpBinding"
                bindingConfiguration="PSEP" contract="PS.ILongCompute" name="PSEP">
                <identity>
                    <userPrincipalName value="EE-HPZBOOK\edwar" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:7060/SP" binding="wsDualHttpBinding"
                bindingConfiguration="SPEP" contract="PS.IStocks" name="SPEP">
                <identity>
                    <userPrincipalName value="EE-HPZBOOK\edwar" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:7060/PC" binding="basicHttpBinding"
                bindingConfiguration="PCEP" contract="PS.IPriceChange" name="PCEP" />
        </client>
    </system.serviceModel>
</configuration>