<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMyMath2" />
                <binding name="BasicHttpBinding_IEmployeeService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64098/MyMath2.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMyMath2" contract="MM2.IMyMath2"
                name="BasicHttpBinding_IMyMath2" />
            <endpoint address="http://localhost:64098/EmployeeService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmployeeService"
                contract="ES.IEmployeeService" name="BasicHttpBinding_IEmployeeService" />
        </client>
    </system.serviceModel>
</configuration>